.image_div_brand{
    padding-top: 20px;
    display:flex;
    align-items:center;
    justify-content: center;
    padding-bottom: 50px;
}

.image_brand{
    width: auto;
    height: auto;
    box-shadow: 5px 1px 10px 10px rgba(0, 0, 0, 0.1);
}
