@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.pageTop{
    justify-content: space-between;
}

.pageTop h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 600;
}

.categoryTop h1{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 600;
}

.sortButtons{
    margin: 5% 2.5% 5% 2.5%;
    display:flex;
    justify-content: space-around;
    position: relative;
}

.sortButton{

    padding: 5px 20% 5px 20%;
    outline: solid rgba(142, 165, 100, 0.858);
    outline-width: 2px;
    border-radius: 5px;
    font-weight: 600;
}

.filterButton{
    margin-right: 5%;
    padding: 5px 20% 5px 20%;
    outline: solid rgba(142, 165, 100, 0.858);
    outline-width: 2px;
    border-radius: 5px;
    font-weight: 600;
}

.shopContainer{
    height: auto;
    padding-bottom: 15%;
}

.sortButtons .dropdown-content{
    position: absolute;
    left: 0;
    top:110%;
    width: 100%;
    padding: 15px;
    background: white;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    color: black;
    font-weight: 500;
}

.dropdown-content .dropdown-item{
    display:flex;
    padding: 10px;
    justify-content: space-between;
    align-items:center

}


.slider{
    -webkit-appearance: none;
    width: 40%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.productList{
    display:flex;
}

.products{
    overflow:auto;
}

.product {
    margin: 10px 4% 10px 4%;
    min-width:100px;
    width: 100px;
}

.product img{
    width: 100px;
    height: 100px;
}

.product p{
    text-align: center;
    color: rgba(0, 0, 0, 0.606);
    font-size: small;
    margin-bottom: 10%;
}

.brandCont{
    margin: 10% 0 10% 0;
    justify-content: space-around;
    background-color: rgba(128, 128, 128, 0.067);
}


.brandPicture {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items: center;
    max-width: 300px;
    width: 40%;
    outline: solid rgba(0, 0, 0, 0.548);
    outline-width: 1px;
    border-radius: 20px;
}

.brandPicture img{
    padding: 5%;
}

.container{
    width: 100%;
}

@media screen and (min-width: 500px) {

    .brandCont{
        margin: 2% 0 2% 0;
        padding-top: 2%;
        padding-bottom: 2%;
        border-bottom: 3px solid #C4C4C4;
        border-top: 3px solid #C4C4C4;
    }

    .categoryTop{
        text-align: center;
    }

    .pageTop{
        padding-top: 2%;
        justify-content:center
    }

    .pageTop h1{
        font-size: 40px;
        text-align: center

    }
    .pageTop h3{
        font-size: 20px;
        

    }
    
    .categoryTop h1{
        font-size: 40px;
        margin-bottom: 2%;

    }
    .categoryTop h3{
        font-size: 20px;

    }

    .product {
        min-width: 200px;
        margin: 10px 4% 10px 4%;
    }
    
    .product img{
        width: 200px;
        height: 200px;
    }
}


